Repository bounswe/bounswe2025group4, pull requests merged in 2025-05, with the labels that each got.

#104 feat/job application endpoints
  apps/backend/src/main/java/org/bounswe/backend/application/controller/JobApplicationController.java
  apps/backend/src/main/java/org/bounswe/backend/application/dto/JobApplicationDto.java
  apps/backend/src/main/java/org/bounswe/backend/application/entity/JobApplication.java
  apps/backend/src/main/java/org/bounswe/backend/application/repository/JobApplicationRepository.java
  apps/backend/src/main/java/org/bounswe/backend/application/service/JobApplicationService.java
  apps/backend/src/main/java/org/bounswe/backend/common/enums/JobApplicationStatus.java
  apps/backend/src/main/resources/application.yml
Labels: domain: backend, status:waiting for review

#109 Feat/api threads comments
  .DS_Store
  .gitignore
  apps/.DS_Store
  apps/backend/src/main/java/org/bounswe/backend/comment/controller/CommentController.java
  apps/backend/src/main/java/org/bounswe/backend/comment/dto/CommentDto.java
  apps/backend/src/main/java/org/bounswe/backend/comment/dto/CreateCommentRequestDto.java
  apps/backend/src/main/java/org/bounswe/backend/comment/entity/Comment.java
  apps/backend/src/main/java/org/bounswe/backend/comment/repository/CommentRepository.java
  apps/backend/src/main/java/org/bounswe/backend/comment/service/CommentService.java
  apps/backend/src/main/java/org/bounswe/backend/tag/entity/Tag.java
  apps/backend/src/main/java/org/bounswe/backend/tag/repository/TagRepository.java
  apps/backend/src/main/java/org/bounswe/backend/tag/service/TagService.java
  apps/backend/src/main/java/org/bounswe/backend/thread/controller/ThreadController.java
  apps/backend/src/main/java/org/bounswe/backend/thread/dto/CreateThreadRequestDto.java
  apps/backend/src/main/java/org/bounswe/backend/thread/dto/ThreadDto.java
  apps/backend/src/main/java/org/bounswe/backend/thread/dto/UpdateThreadRequestDto.java
  apps/backend/src/main/java/org/bounswe/backend/thread/entity/Thread.java
  apps/backend/src/main/java/org/bounswe/backend/thread/repository/ThreadRepository.java
  apps/backend/src/main/java/org/bounswe/backend/thread/service/ThreadService.java
Labels: domain: backend, priority: high

#108 feat(layout): Add Header and Footer components, wrap pages in a layout
  apps/frontend/src/components/common/ThemeToggle.tsx
  apps/frontend/src/components/layout/Footer.tsx
  apps/frontend/src/components/layout/Header.tsx
  apps/frontend/src/layouts/Root.tsx
  apps/frontend/src/pages/Home.tsx
  apps/frontend/src/providers/ThemeProvider.tsx
  apps/frontend/src/stores/uiStore.ts
  apps/frontend/src/styles/themes/dark.ts
  apps/frontend/src/styles/themes/light.ts
Labels: domain: frontend, priority: high, status:waiting for review

#117 Feat/116 loading page frontend
  apps/frontend/package.json
  apps/frontend/src/app/router.tsx
  apps/frontend/src/components/layout/CenterLoader.tsx
  apps/frontend/src/layouts/Root.tsx
  pnpm-lock.yaml
Labels: type: feature, domain: frontend, priority: urgent, status:waiting for review

#112 Implemented GET Jobs by EmployerId
  apps/backend/src/main/java/org/bounswe/backend/application/dto/JobApplicationDto.java
  apps/backend/src/main/java/org/bounswe/backend/application/service/JobApplicationService.java
  apps/backend/src/main/java/org/bounswe/backend/job/controller/JobPostController.java
  apps/backend/src/main/java/org/bounswe/backend/job/repository/JobPostRepository.java
  apps/backend/src/main/java/org/bounswe/backend/job/service/JobPostService.java
Labels: domain: backend, status:waiting for review

#129 Feat/121 job api filter backend
  apps/backend/src/main/java/org/bounswe/backend/common/config/OpenApiConfig.java
  apps/backend/src/main/java/org/bounswe/backend/job/controller/JobPostController.java
  apps/backend/src/main/java/org/bounswe/backend/job/dto/JobPostDto.java
  apps/backend/src/main/java/org/bounswe/backend/job/entity/JobPost.java
  apps/backend/src/main/java/org/bounswe/backend/job/repository/JobPostRepository.java
  apps/backend/src/main/java/org/bounswe/backend/job/service/JobPostService.java
Labels: type: feature, domain: backend, priority: high, status:waiting for review

#133 Feat/jobs page implementation
  apps/frontend/ROADMAP.md
  apps/frontend/package.json
  apps/frontend/src/app/router.tsx
  apps/frontend/src/assets/react.svg
  apps/frontend/src/components/auth/RedirectIfAuth.tsx
  apps/frontend/src/components/auth/RoleBasedRedirect.tsx
  apps/frontend/src/components/common/ConfirmDialog.tsx
  apps/frontend/src/components/dashboard/ApplicationsGrid.tsx
  apps/frontend/src/components/dashboard/JobFormDialog.tsx
  apps/frontend/src/components/dashboard/JobGrid.tsx
  apps/frontend/src/components/jobs/ApplyForm.tsx
  apps/frontend/src/components/jobs/EmptyJobsState.tsx
  apps/frontend/src/components/jobs/JobCard.tsx
  apps/frontend/src/components/jobs/JobFilterSidebar.tsx
  apps/frontend/src/components/jobs/JobListSkeleton.tsx
  apps/frontend/src/components/layout/CenterLoader.tsx
  apps/frontend/src/hooks/useDebounce.ts
  apps/frontend/src/pages/Auth/RegisterSuccesful.tsx
  apps/frontend/src/pages/Job/ApplicationForm.tsx
  apps/frontend/src/pages/Job/CreateJobPage.tsx
  apps/frontend/src/pages/Job/JobDashboard.tsx
  apps/frontend/src/pages/Job/JobDashboardItem.tsx
  apps/frontend/src/pages/Job/JobDetail.tsx
  apps/frontend/src/pages/Job/JobList.tsx
  apps/frontend/src/pages/Job/JobPostDetailDashboardView.tsx
  apps/frontend/src/pages/Jobs.tsx
  apps/frontend/src/pages/UserProfile.tsx
  apps/frontend/src/schemas/job.ts
  apps/frontend/src/services/api.ts
  apps/frontend/src/services/applications.service.ts
  apps/frontend/src/services/auth.service.ts
  apps/frontend/src/services/jobs.service.ts
  apps/frontend/src/types/application.ts
  apps/frontend/src/types/job.ts
  pnpm-lock.yaml
Labels: type: feature, domain: frontend, priority: medium

#141 feat: mentorship endpoints
  apps/backend/src/main/java/org/bounswe/backend/common/enums/MentorshipRequestStatus.java
  apps/backend/src/main/java/org/bounswe/backend/common/enums/ReviewStatus.java
  apps/backend/src/main/java/org/bounswe/backend/mentor/controller/MentorController.java
  apps/backend/src/main/java/org/bounswe/backend/mentor/dto/CreateMentorProfileRequestDto.java
  apps/backend/src/main/java/org/bounswe/backend/mentor/dto/CreateMentorReviewRequestDto.java
  apps/backend/src/main/java/org/bounswe/backend/mentor/dto/CreateMentorshipRequestDto.java
  apps/backend/src/main/java/org/bounswe/backend/mentor/dto/MentorProfileDto.java
  apps/backend/src/main/java/org/bounswe/backend/mentor/dto/MentorReviewDto.java
  apps/backend/src/main/java/org/bounswe/backend/mentor/dto/MentorshipRequestDto.java
  apps/backend/src/main/java/org/bounswe/backend/mentor/dto/UpdateMentorshipRequestStatusDto.java
  apps/backend/src/main/java/org/bounswe/backend/mentor/entity/MentorProfile.java
  apps/backend/src/main/java/org/bounswe/backend/mentor/entity/MentorReview.java
  apps/backend/src/main/java/org/bounswe/backend/mentor/entity/MentorshipRequest.java
  apps/backend/src/main/java/org/bounswe/backend/mentor/entity/Message.java
  apps/backend/src/main/java/org/bounswe/backend/mentor/entity/ResumeReview.java
  apps/backend/src/main/java/org/bounswe/backend/mentor/repository/MentorProfileRepository.java
  apps/backend/src/main/java/org/bounswe/backend/mentor/repository/MentorReviewRepository.java
  apps/backend/src/main/java/org/bounswe/backend/mentor/repository/MentorshipRequestRepository.java
  apps/backend/src/main/java/org/bounswe/backend/mentor/service/MentorService.java
Labels: domain: backend, priority: high, status:waiting for review

#153 Fix/register mentorship type
  apps/backend/src/main/java/org/bounswe/backend/auth/controller/AuthController.java
  apps/backend/src/main/java/org/bounswe/backend/auth/dto/RegisterRequest.java
  apps/backend/src/main/java/org/bounswe/backend/user/controller/UserController.java
  apps/backend/src/main/java/org/bounswe/backend/user/dto/UpdateMentorshipDto.java
  apps/backend/src/main/java/org/bounswe/backend/user/entity/User.java
  apps/backend/src/main/java/org/bounswe/backend/user/service/UserService.java
Labels: domain: backend, priority: high, status:waiting for review

#143 Feat/124 user profile frontend
  apps/frontend/ROADMAP.md
  apps/frontend/package.json
  apps/frontend/src/app/router.tsx
  apps/frontend/src/components/layout/Header.tsx
  apps/frontend/src/components/profile/BadgeDisplay.tsx
  apps/frontend/src/components/profile/EducationHistory.tsx
  apps/frontend/src/components/profile/InterestsSection.tsx
  apps/frontend/src/components/profile/ProfilePictureUpload.tsx
  apps/frontend/src/components/profile/SkillsSection.tsx
  apps/frontend/src/components/profile/WorkHistory.tsx
  apps/frontend/src/pages/Auth/Register.tsx
  apps/frontend/src/pages/Profile/UserProfile.test.tsx
  apps/frontend/src/pages/Profile/UserProfile.tsx
  apps/frontend/src/pages/Profile/UserProfileRedirect.tsx
  apps/frontend/src/services/auth.service.ts
  apps/frontend/src/services/profile.service.ts
  apps/frontend/src/services/user.service.ts
  apps/frontend/src/types/auth.ts
  apps/frontend/src/types/profile.ts
  apps/frontend/src/types/user.ts
  pnpm-lock.yaml
Labels: type: feature, domain: frontend, status:waiting for review

#147 Feat/144 motivational quote backend
  apps/backend/pom.xml
  apps/backend/src/main/java/org/bounswe/backend/BackendApplication.java
  apps/backend/src/main/java/org/bounswe/backend/common/config/CacheConfig.java
  apps/backend/src/main/java/org/bounswe/backend/common/config/RestTemplateConfig.java
  apps/backend/src/main/java/org/bounswe/backend/common/config/SecurityConfig.java
  apps/backend/src/main/java/org/bounswe/backend/external/controller/QuoteController.java
  apps/backend/src/main/java/org/bounswe/backend/external/dto/QuoteDto.java
  apps/backend/src/main/java/org/bounswe/backend/external/service/QuoteScheduler.java
  apps/backend/src/main/java/org/bounswe/backend/external/service/QuoteService.java
  apps/backend/src/main/resources/application.yml
Labels: type: feature, domain: backend, status:waiting for review

#149 Feat/148 home motivational quote frontend
  apps/frontend/src/components/DailyQuote.tsx
  apps/frontend/src/pages/Home.tsx
  apps/frontend/src/services/quotes.service.ts
  apps/frontend/src/types/quote.ts
Labels: type: feature, domain: frontend, priority: medium, status:waiting for review

#162 Feat/forum backend
  apps/backend/src/main/java/org/bounswe/backend/comment/dto/CommentDto.java
  apps/backend/src/main/java/org/bounswe/backend/comment/entity/Comment.java
  apps/backend/src/main/java/org/bounswe/backend/comment/service/CommentService.java
  apps/backend/src/main/java/org/bounswe/backend/tag/exception/TagException.java
  apps/backend/src/main/java/org/bounswe/backend/tag/repository/TagRepository.java
  apps/backend/src/main/java/org/bounswe/backend/tag/service/TagService.java
  apps/backend/src/main/java/org/bounswe/backend/thread/controller/ThreadController.java
  apps/backend/src/main/java/org/bounswe/backend/thread/dto/ThreadDto.java
  apps/backend/src/main/java/org/bounswe/backend/thread/entity/Thread.java
  apps/backend/src/main/java/org/bounswe/backend/thread/service/ThreadService.java
Labels: type: feature, domain: backend, priority: high, status:waiting for review

#154 Feature: Forum and thread page
  apps/frontend/src/app/router.tsx
  apps/frontend/src/pages/Forum/ThreadDetail.tsx
  apps/frontend/src/pages/Forum/ThreadList.tsx
  apps/frontend/src/services/threads.service.ts
  apps/frontend/src/types/thread.ts
Labels: type: feature, domain: frontend, status:waiting for review

#167 Feat/tag recommendation forum
  apps/mobile/lib/core/services/tag_recommendation_service.dart
  apps/mobile/lib/features/forum/screens/create_thread_screen.dart
  apps/mobile/lib/features/forum/screens/forum_page.dart
  apps/mobile/lib/features/forum/screens/thread_detail_screen.dart
Labels: type: feature, domain: mobile, priority: medium, status:waiting for review

#135 Bug/api error handling backend
  apps/backend/src/main/java/org/bounswe/backend/application/service/JobApplicationService.java
  apps/backend/src/main/java/org/bounswe/backend/auth/controller/AuthController.java
  apps/backend/src/main/java/org/bounswe/backend/comment/controller/CommentController.java
  apps/backend/src/main/java/org/bounswe/backend/comment/service/CommentService.java
  apps/backend/src/main/java/org/bounswe/backend/common/exception/ApiErrorResponse.java
  apps/backend/src/main/java/org/bounswe/backend/common/exception/DuplicateReviewException.java
  apps/backend/src/main/java/org/bounswe/backend/common/exception/GlobalExceptionHandler.java
  apps/backend/src/main/java/org/bounswe/backend/common/exception/InvalidAuthContextException.java
  apps/backend/src/main/java/org/bounswe/backend/common/exception/InvalidCredentialsException.java
  apps/backend/src/main/java/org/bounswe/backend/common/exception/MentorCapacityExceededException.java
  apps/backend/src/main/java/org/bounswe/backend/common/exception/MentorNotAvailableException.java
  apps/backend/src/main/java/org/bounswe/backend/common/exception/MentorProfileAlreadyExistsException.java
  apps/backend/src/main/java/org/bounswe/backend/common/exception/MentorshipNotCompletedException.java
  apps/backend/src/main/java/org/bounswe/backend/common/exception/NotFoundException.java
  apps/backend/src/main/java/org/bounswe/backend/common/exception/PendingRequestExistsException.java
  apps/backend/src/main/java/org/bounswe/backend/common/exception/ProfileAlreadyExistsException.java
  apps/backend/src/main/java/org/bounswe/backend/common/exception/QuoteFetchException.java
  apps/backend/src/main/java/org/bounswe/backend/common/exception/TagException.java
  apps/backend/src/main/java/org/bounswe/backend/common/exception/UnauthorizedActionException.java
  apps/backend/src/main/java/org/bounswe/backend/common/exception/UnauthorizedUserException.java
  apps/backend/src/main/java/org/bounswe/backend/external/service/QuoteService.java
  apps/backend/src/main/java/org/bounswe/backend/job/service/JobPostService.java
  apps/backend/src/main/java/org/bounswe/backend/mentor/service/MentorService.java
  apps/backend/src/main/java/org/bounswe/backend/profile/controller/ProfileController.java
  apps/backend/src/main/java/org/bounswe/backend/profile/service/ProfileService.java
  apps/backend/src/main/java/org/bounswe/backend/tag/exception/TagException.java
  apps/backend/src/main/java/org/bounswe/backend/tag/service/TagService.java
  apps/backend/src/main/java/org/bounswe/backend/thread/controller/ThreadController.java
  apps/backend/src/main/java/org/bounswe/backend/thread/service/ThreadService.java
  apps/backend/src/main/java/org/bounswe/backend/user/controller/UserController.java
  apps/backend/src/main/java/org/bounswe/backend/user/service/UserService.java
Labels: type: bug, domain: backend, priority: high, status:waiting for review

#175 Refactor/registration reset pwd frontend
  apps/backend/src/main/java/org/bounswe/backend/auth/controller/AuthController.java
  apps/backend/src/main/java/org/bounswe/backend/common/exception/EmailAlreadyExistsException.java
  apps/backend/src/main/java/org/bounswe/backend/common/exception/GlobalExceptionHandler.java
  apps/backend/src/main/java/org/bounswe/backend/user/controller/UserController.java
  apps/frontend/src/app/router.tsx
  apps/frontend/src/pages/Auth/ForgotPassword.tsx
  apps/frontend/src/pages/Auth/Login.tsx
  apps/frontend/src/pages/Auth/Register.tsx
  apps/frontend/src/pages/Auth/RegisterSuccesful.tsx
  apps/frontend/src/pages/Auth/ResetPassword.tsx
  apps/frontend/src/pages/Profile/UserProfile.test.tsx
  apps/frontend/src/pages/Profile/UserProfile.tsx
  apps/frontend/src/services/api.ts
  apps/frontend/src/services/auth.service.ts
  apps/frontend/src/types/api.ts
  apps/frontend/src/types/auth.ts
Labels: domain: frontend, type: improvement / refactor, priority: high, status: in progress

#177 Fix/api-unnecessary-fields#174
  apps/backend/src/main/java/org/bounswe/backend/job/controller/JobPostController.java
  apps/backend/src/main/java/org/bounswe/backend/job/dto/JobPostDto.java
  apps/backend/src/main/java/org/bounswe/backend/job/dto/JobPostResponseDto.java
  apps/backend/src/main/java/org/bounswe/backend/job/entity/JobPost.java
  apps/backend/src/main/java/org/bounswe/backend/job/service/JobPostService.java
Labels: domain: backend, type: improvement / refactor, status:waiting for review

#178 Refactor/application dialogue frontend
  apps/frontend/package.json
  apps/frontend/src/app/router.tsx
  apps/frontend/src/components/auth/RedirectIfAuth.tsx
  apps/frontend/src/components/dashboard/ApplicationsGrid.tsx
  apps/frontend/src/components/jobdashboard/ApplicationsGrid.tsx
  apps/frontend/src/components/jobdashboard/JobFormDialog.tsx
  apps/frontend/src/components/jobdashboard/JobGrid.tsx
  apps/frontend/src/components/jobdashboard/UpdateStatusDialog.tsx
  apps/frontend/src/components/jobdashboard/ViewApplicationDialog.tsx
  apps/frontend/src/components/jobs/JobCard.tsx
  apps/frontend/src/components/layout/Header.tsx
  apps/frontend/src/pages/Job/ApplicationForm.tsx
  apps/frontend/src/pages/Job/JobDashboard.tsx
  apps/frontend/src/pages/Job/JobDashboardItem.tsx
  apps/frontend/src/pages/Job/JobDetail.tsx
  apps/frontend/src/pages/Job/JobPostDetailDashboardView.tsx
  apps/frontend/src/pages/JobDashboard/CreateJobPage.tsx
  apps/frontend/src/pages/JobDashboard/JobDashboard.tsx
  apps/frontend/src/pages/JobDashboard/JobDetailDashboard.tsx
  apps/frontend/src/pages/Jobs/JobDetail.tsx
  apps/frontend/src/pages/Jobs/JobList.tsx
  apps/frontend/src/schemas/job.ts
  apps/frontend/src/services/applications.service.ts
  apps/frontend/src/services/jobs.service.ts
  apps/frontend/src/styles/themes/dark.ts
  apps/frontend/src/styles/themes/light.ts
  apps/frontend/src/types/application.ts
  apps/frontend/src/types/job.ts
  pnpm-lock.yaml
Labels: domain: frontend, type: improvement / refactor, priority: high, status:waiting for review

#181 Add unit test for TagRecommendationService with mockito
  apps/mobile/lib/core/services/tag_recommendation_service.dart
  apps/mobile/pubspec.yaml
  apps/mobile/test/mocks/mock_http_client.dart
  apps/mobile/test/mocks/mock_http_client.mocks.dart
  apps/mobile/test/unit/tag_recommendation_service_test.dart
  apps/mobile/test/unit/tag_recommendation_service_test.mocks.dart
Labels: domain: mobile, status:waiting for review

#193 test: Add comprehensive unit tests for UserController and UserService
  apps/backend/src/test/java/org/bounswe/backend/user/controller/UserControllerTest.java
  apps/backend/src/test/java/org/bounswe/backend/user/service/UserServiceTest.java
Labels: domain: backend, status:waiting for review

#199 Add CI Pipeline for Mobile App
  .github/workflows/mobile-ci.yml
Labels: domain: mobile, priority: medium, status:waiting for review

#188 Feature: Mentor and Mentee Pages
  apps/frontend/package.json
  apps/frontend/pnpm-lock.yaml
  apps/frontend/src/app/router.tsx
  apps/frontend/src/components/auth/RoleBasedRedirect.tsx
  apps/frontend/src/pages/Mentorship/Mentee.tsx
  apps/frontend/src/pages/Mentorship/Mentor.tsx
  apps/frontend/src/services/mentorship.service.ts
  apps/frontend/src/types/mentor.ts
Labels: domain: frontend, status: in progress, priority: urgent
